@import '../../mixins.scss';
.slick{
    &-slider{
        margin:auto;
        margin-top: 66px;
        margin-bottom: 21px;
        border-radius: 8px;
        border: 6px solid #008F3F;
        min-height: 363px;
    padding: 24px 12.2% 30px;
    box-sizing: border-box;
    grid-column-start: 2;
    position: relative;
    overflow: hidden;
    &:hover .slick-arrow{
    opacity: 1;
    transition: opacity 0.3s;
    }
    h3{
        font-size: adaptiv-get(24,10);
        margin:auto;

    }
    p{
        font-size: adaptiv-get(24,10);
        margin:auto
    }
    li{
        font-size: adaptiv-get(24,10);

    }
    }
    &-slide{
        opacity: 0;
        transition: opacity 0.1s;
    }
    &-current{
        opacity: 1;
        transition: opacity 0s;

    }
    &-track{
        display: flex;
    }
    &-arrow{
    cursor: pointer;
    position: absolute;
    width: 33px;
    height: 33px;
    z-index: 1;
    font-size: 0px;
    border: none;
    outline: none;
    //top:calc(50% - 10px);
    height: 100%;
    width: 12.2%;
    top: 0;
    }
    &-prev{
        left: -1px;
        background: url('../../img/sliderArrow.svg') no-repeat;
        background-position: calc(50% - 16px) center;
    }
    &-next{
        right: -1px;
        background: url('../../img/sliderArrow.svg') no-repeat;
        transform: rotate(180deg);
        background-position: calc(50% - 10px);
    }
}
.slider{
    position: relative;
    &Title{
        position: absolute;
        top: -20px;
        width: 265px;
        background: #fff;
        text-align: center;
        left: calc(50% - 132.5px);
        z-index: 1;
        line-height: 30px;
    }
    &Container{
        outline: none;
        &Locked{
            img{
                margin: 40px 0 35px;
            }
        }
        b{
            font-weight: 500;
        }
        text-align: center;
    &Item{
    &:first-child{
        
        margin-bottom: 45px;
        p{
            margin-top: 37px;
            font-weight: 500;
            a{
                color:#008F3F;
            }
        }
        
    }

    &:last-child{
        list-style: none;
        padding: 0;
        text-align: start;
    }
}}
}
@media (max-width:960px){
    .slick-slider {
        border-width: 4px;
    }
    .slick-next, .slick-prev{
        background-size: 25px;
    }
    .slider .sliderTitle{
        left: calc(50% - 85px);
        width: 170px;
    }
}
@media (max-width:730px){
    .slider{
        .sliderTitle{
            top:-15px;
            left: calc(50% - 58.5px);
            width: 117px;
        }
        .sliderContainerItem p{
            margin-top: 17px;
        }
        .sliderContainerItem:first-child {
            margin-bottom: 12px;
        }
        h3{
            max-width:160px;
        }
        p{
            max-width:180px;
        }
    }.slick-slider {
        min-height: 200px;
        border-width: 2px;
        margin-top: 27px;
        padding: 12px 15.2% 12px;
        line-height: 110%;
        .sliderContainerLocked img {
            margin: 27px 0 17px;
            height: 62px;
        }
    }
    .slick-next, .slick-prev{
        background-size: 17px;
    }
    .slick-prev{
        background-position: 16px;
    }.slick-next{
        background-position: 17px;
    }
}