@import '../../mixins.scss';

.lkInfo {
    .MuiFormControlLabel-root.checkboxContainer{
        align-items: flex-start;
        .MuiTypography-root{
            font-size: adaptiv-get(24, 14);
            line-height: adaptiv-get(28, 8);
        }
    }
    .lkInfoTitle button{
        font-size: 16px !important; 
    }
    .lkInfoString {
        min-height: adaptiv-get(70, 41);
        span:first-child {
            margin-bottom: 0;
    }
}}

@media (max-width:960px){
.lkInfo {
    margin-top: 67px;
    .lkInfoTitle{
        justify-content: center;
        position: relative;
        margin-bottom: 30px;;
        button{
            position: absolute;
            right: 0px;
            top: -5px;
        }
        h3{
        }
    }
    div.lkInfoString{
        padding-bottom:0;
        padding-top:0;

    }
    .lkInfoString p:first-child {
        width: 80px;
    }
    .lkInfoString p:last-child {
        //position: absolute;
        
        word-break: break-all;
    }
    .MuiGrid-root.lkInfoString.MuiGrid-item.MuiGrid-grid-xs-12:last-child{
        display: none
    }
// .lkInfoString span:first-child {
//     width: 80px;
//     margin-right: 20px;
//     margin-bottom: 37px;
// }
// label.checkboxContainer .MuiButtonBase-root {
//     margin-left: 0px;
// }
}
}