@import '../../mixins.scss';

// div.TextFields{
//     @include fieldStyle();
// }
.qq{
    margin: 15px;
}

.MuiTextField-root{
    width: 100%;
    min-height: 99px;
    max-width:554px;
    .MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error{
        font-size: 16px;
        line-height: 150%;
        margin-left: 1px;
        margin-top: 16px;
    }
    .MuiOutlinedInput-notchedOutline{
        border: 1px solid #008F3F;
    border-radius: 8px;
    min-height: 73px;
    }
    input{
        padding: 16px 20px;
    }
    label, input{
    //color: #fff;
    //font-family: 'Gotham Pro';
    //font-style: normal;
    //font-weight: normal;
    //@include adaptiv-font(18, 17);

    font-family: 'Neo Sans Weleda';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 150%;
/* identical to box height, or 36px */
    top: -3px;
    left: 6px;
    background-color: #fff;
    color: rgba(0, 0, 0, 0.25);

    //font-size: 18px;
    //line-height: 17px;
    &.Mui-focused{
        color: rgba(0, 0, 0, 0.25);
        &.Mui-error{
            font-family: Neo Sans Weleda;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #F05A29;
        }
        }
        &.Mui-error{
            color: rgba(0, 0, 0, 0.25);
        }
    }
    .PrivateNotchedOutline-legendLabelled-7{
        font-size: 16px;
        margin-left: 5px;
    }
    .MuiInputLabel-outlined.MuiInputLabel-shrink {
        transform: translate(3px, -10px);
        font-size: 16px;
        line-height: 150%;
        padding-right: 10px;
        background: #fff;
        padding-left: 10px;
    }
    .MuiOutlinedInput-root.Mui-error .MuiOutlinedInput-notchedOutline {
        border: 1px solid #F05A29;
        //top: 0px;
        //height: 100%;
        // legend{
        //     display: none;
            
        // }
        &.Mui-error{
        }
    }
    .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
        border: 1px solid #008F3F;
    }
    fieldset{
        
        border: none;
        legend.PrivateNotchedOutline-legendNotched-4 {
            margin-top: -20px;
            font-family: Neo Sans Weleda;
            font-style: normal;
            font-weight: normal;
            padding: 0 8px;
            font-size: 1em;
            line-height: 150%;
        }

    }
}
.TextFieldPhone{
    background-color: transparent;
    width: 100%;
    height: 100%
}
@media (max-width:730px){
    .MuiTextField-root{
        min-height: 39px;
        max-width:250px;
        .MuiFormHelperText-root.MuiFormHelperText-contained.Mui-error{
            font-size: 8px;
            margin-left: 1px;
            margin-top: 7px;
            
        }
        .MuiOutlinedInput-notchedOutline{
            border: 1px solid #008F3F;
            border-radius: 5px;
            min-height: 34px;
        }
        input{
            padding: 10px 10px;
        }
        label, input{
        font-size: 8px;
        top: -11px;
        left: -6px;
        &.Mui-focused{
            &.Mui-error{
                font-size: 8px;
            }
            }
        }
        .PrivateNotchedOutline-legendLabelled-7{
            font-size: 8px;
        }
        .MuiInputLabel-outlined.MuiInputLabel-shrink {
            transform: translate(25px, 4px);
            font-size: 8px;
        }
        fieldset{
        
            legend.PrivateNotchedOutline-legendNotched-4 {
                font-size: 8px;
            }
    
        }
    }
}