@import './fonts/all.scss';
@import './mixins.scss';
@import './preloader.scss';

html body{
        //background-color: #FFDD00;
        font-family: "Neo Sans Weleda";
        font-style: normal;
        font-weight: normal;
        font-size: adaptiv-get(24, 14);
        line-height: 150%;
        h1{
          font-family: 'NewWeleda Cyr';
          font-style: normal;
          font-weight: normal;
          font-size: adaptiv-get(48, 18);
          //font-size: 48px;
          line-height: 150%;
          text-align: center;
          text-transform: uppercase;
          color: #58595B;
      }
      h3{
        font-size: adaptiv-get(24, 16);
      }
    }
// .title{
//     padding: 60px 0 25px;
// }
// h1{
//     font-family: 'Montserrat';
//     font-style: normal;
//     font-weight: 900;
//     @include adaptiv-font(36, 44);
//     //font-size: 36px;
//     //line-height: 1.22rem;
//     /* identical to box height */

//     text-transform: uppercase;

//     color: #10417B;
// }
// h2{
//     font-family: "Montserrat";
//     font-style: normal;
//     font-weight: 900;
//     @include adaptiv-font(42, 51);
//     //font-size: 42px;
//     //line-height: 51px;
//     text-align: center;
//     text-transform: uppercase;
// color: #10417B;
// }
// h3{
//     font-family: 'Gotham Pro';
// font-style: normal;
// font-weight: 900;
// //font-size: 24px;
// @include adaptiv-font(24);
// line-height: 23px;
// /* identical to box height */

// text-align: center;
// text-transform: uppercase;

// color: #FFDD00;
// }


// button.MuiButton-textPrimary{
//     background: #fff;
//     width: 100%;
//     color:#10417B;
// }
// button.MuiButton-textSecondary{
//     background: #10417B;
//     width: 100%;
//     color:#fff;
// }

html, body, #root {
    height: 100%;
  }
body {
    display: flex;
    flex-direction: column;
  }
  .FAQ {
    flex: 1 0 auto;
  }
  .footer {
    flex-shrink: 0;
  }

  body::-webkit-scrollbar {
    width: 0.5em;
  }
   
  body::-webkit-scrollbar-track {
    //box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-left: 1px solid #ccc;
  }
   
  body::-webkit-scrollbar-thumb {
    background-color: #008F3F;
    border-radius: 5px;
  }
  .anim_fade_out {
    -webkit-animation: fade_in 0.4s reverse ease-out both 0.5s;
    animation: fade_in 0.4s reverse ease-out both 0.5s;
  }
  
  .anim_fade_in {
    -webkit-animation: fade_in 0.2s ease-in both;
    animation: fade_in 0.2s ease-in both;
  }
  //Buttons
body button.MuiButton-root{
  color: #FFF;
  background: #008F3F;
  border-radius: adaptiv-get(8, 5);
  min-width: adaptiv-get(266, 183);;
  height: adaptiv-get(70, 30);
  //padding: 20px 10px;

  box-shadow: none;
  font-family: 'Neo Sans Weleda';
  font-style: normal;
  font-weight: 500;
  font-size: adaptiv-get(24, 12);
  line-height: adaptiv-get(36, 24);
  text-transform: none;
  &:hover{
    background: #FFFFFF;
    border: 2px solid #008F3F;
    color: #008F3F;
    box-shadow: none;
  }
  &.Mui-disabled{
    color: #fff;
    background: rgba(0, 0, 0, 0.25);
  }
  &.MuiButton-outlined{
    background: #FFF;
    color: #008F3F;
    border: 2px solid #008F3F;
    &:hover{
      color: #FFF;
      background: #008F3F;
    }
    
  //   &.MuiButton-outlinedPrimary{
  //     font-style: normal;
  //     font-weight: normal;
  //     @include adaptiv-font(12, 15);
  //     //font-size: 12px;
  //     //line-height: 15px;
  //     color: #FFDD00;
  //     border-color: #FFDD00;
  //     padding-bottom: 8px;

  // &:hover{
  //     color: #004088;
  //     border-color:#004088;
  //     background-color: #FFDD00; 
  // }}
}
  &.MuiButton-sizeSmall{
    //font-weight: normal;
    //@include adaptiv-font(14, 18);
    //font-size: 14px;
    //line-height: 18px;
    //padding: 4px 10px 2px;
    //border-radius: 3px;
    min-width: adaptiv-get(124, 117);
    // &:hover{
    //     color: #FFF;
    //     background:#10417B;
    // }
    //   &.MuiButton-textPrimary{
    //     color: #FFF;
    // background:#10417B;
    // &:hover{
    //     color: #10417B;
    //     background:#FFF;
    // }
    }
    &.MuiButton-sizeLarge{
      //font-weight: 900;
      //@include adaptiv-font(24, 23);
      //font-size: 24px;
      //line-height: 23px;
      //padding: 20px;
      min-width: adaptiv-get(410, 183);
  }
  // font-family: 'Gotham Pro';
  // font-style: normal;
  // font-weight: bold;
  //@include adaptiv-font(16, 16);
  //font-size: 16px;
  //line-height: 16px;
  //padding: 14px 25px 15px;
  //border-radius: 8px;
  
  &.MuiButton-text{
    font-size: adaptiv-get(16, 8);
    line-height: 150%;
    /* identical to box height, or 24px */
    text-decoration-line: underline;
    color: #008F3F;

    background: none;
    height: auto;
    min-width: auto;
    padding: inherit;
    &.MuiButton-textPrimary{
      color:#000000;
      font-weight: normal;
      margin-top: 4px;
    }
  &:hover{
      border: none;

      // color: #FFDD00;
      // background-color:#004088;
      // box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.45);
  }
  }
  
  
  
  
}

