@mixin fieldStyle{
    //background: #0F396A;

}

$maxWidth: 1920;
@mixin adaptiv-font($pcSize, $lineHeight:0) {
 $mobSize: $pcSize*0.7;
 $addSize: $pcSize - $mobSize;
 $maxWidth: $maxWidth - 320;
 font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
 @if $lineHeight{
    line-height: $lineHeight/$pcSize * 1em;
 }
}