.regPage{
    height: 100%;
    padding: 0 16px;
    background: url('../../../../img/pattern.svg');

}
.backgroundContainer{
    height: 100%;

    max-width:1414px;
    background: #fff;
    .pageContainer{
        max-width:1127px;
        padding: 114px 7% 0;
        .regTitle{
            margin-bottom: 36px;
        }
    }
}
@media (max-width:730px){
    .backgroundContainer{
        .pageContainer{
            padding: 67px 7% 0;
            .regTitle{
                margin-bottom: 26px;
            }
        }
    }
}