@import "../../../mixins.scss";

.LoginModal {
  .LoginModalEmail {
    margin: 35px 0 15px;
  }
  .regFormTitle {
    margin-bottom: 58px;
  }
  .modalContainer {
    align-self: flex-end;
  }
  .regBtnsWrap {
    position: relative;
    margin-top: 29px;
  }
  .FormTextFieldContainer {
    margin-bottom: 5px;
  }
  a {
    text-decoration: none;
  }
  .sbrosWrapper {
    position: absolute;
    width: 100%;
    top: 0px;
    .modalContainer {
      padding: 0;
    }
    .modalBtn {
      position: absolute;
      top: -55px;
      right: 0;
      //width: 130px;
      span {
        text-align: right;
      }
    }
  }
  .regForm {
  }
}
.LoginModalReset {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: normal;
  @include adaptiv-font(18, 22);
  //font-size: 18px;
  //line-height: 22px;
  text-align: center;

  color: #fff;
  .MuiTextField-root {
    margin: 35px 0 15px;
  }
  .modalContainer {
    width: 100%;
    button {
      width: 100%;
    }
  }
}
@media (max-width: 730px) {
  .LoginModal {
    .sbrosWrapper .modalBtn {
      top: -35px;
    }
    form {
      max-width: 316px;
    }
    .regFormTitle {
      margin-bottom: 30px;
    }
    .TextFields {
      margin-bottom: 25px;
    }
    .MuiButton-sizeSmall {
      max-width: 100px;
      width: 100px;
    }
    .regBtnsWrap {
      margin-top: 0px;
    }
    .regBtn {
      margin-left: 16px;
      min-width: auto;
      width: 183px;
    }
  }
}
