@import '../../mixins.scss';

footer.footer{
    background-color: #fff;
    padding: 0 50px;
    width: 100%;
    box-sizing: border-box;
    flex: 0 0 auto;

    .footerContainer{
        background: #FFFFFF;
    margin: auto;
    max-width: 1414px;
    height: 130px;
font-weight: 500;
font-size: adaptiv-get(16, 8);
line-height: 150%;
        
a{
    font-weight: 700;
    font-size: adaptiv-get(16, 8);
    line-height: 24px;
}
    }

    // margin-top: 100px;
    // background: #10417B;

    // padding: 25px 15px;
    // .footerContainer{
    //     max-width: 1200px;
    //     margin: 0 auto;

    // }
    
a{

}
    .footerMail a{
        color: #000;
        float: right
    }

}

@media(max-width: 730px){
    footer.footer{
    padding: 0 16px;

        .footerContainer{
            height: 61px;
            img{
                width: 50px;
                height: 38px;
            }
        }
        
    }
}
// @media(max-width: 540px){
//     footer.footer{

//         .footerMail a{
//             word-wrap: normal !important;
//             margin: auto;
//             width: 100%;
//         }
//     }
// }
// #root{
//     display: flex;
//     flex-direction: column;
// }
