@font-face {
  font-family: "NewWeleda Cyr";
  src: local("NewWeleda Cyr"), local("NewWeleda Cyr"),
    url("./NewWeledaCyr-Regular.eot") format("embedded-opentype"),
    url("./NewWeledaCyr-Regular.ttf") format("truetype"),
    url("./NewWeledaCyr-Regular.woff") format("woff"),
    url("./NewWeledaCyr-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
