@import '../../mixins.scss';
p, h3{
    margin: 0;
}
.RoadmapWrap{
    background: #fff;;

    .RoadmapPromo{
        display:none;
    }
}
.Roadmap{
    padding-top: 150px;
    padding-left: 5px;
    max-width: 1132px;
    margin: 0 auto -80px;
    font-family: 'Neo Sans Weleda';
    font-style: normal;
    font-weight: 500;
    font-size: adaptiv-get(24, 12);
    line-height: adaptiv-get(30, 18);
    h3{
        font-size: adaptiv-get(32, 16);

        line-height: adaptiv-get(48, 24);
        margin: 6px 0 10px;
    }

    &Block{
        position: relative;
        &:nth-child(1){
            border-bottom: 3px solid #000000;
            margin-right: 6px;
            padding-bottom: 91px;
            padding-left: 51px;
            .RoadmapNumb{
                color: rgba(244, 186, 86, 0.25);
                left: -26px;
                bottom: -9px;
                span{
                    left: -13px;
                    bottom: -9px;
                    border-color: #F4BA56;
                    background: rgba(244, 186, 86, 0.5);
                    &::after{
                        left: 7px;
                        top: -120px;
                        height: 99px;
                        border-left: 2px dashed #F4BA56;
                    }
                    &::before{
                        left: 0px;
                        top: -138px;
                        border-color: #F4BA56;
                    }
                }
            }
        }
        &:nth-child(2){
            border-right: 3px solid #000000;
            margin: 23px 0 24px;
            display: grid;
            grid-template-columns: 5fr 3fr;
            grid-gap: 20px;
            align-items: stretch;
            min-height: 316px;
            &::before{
                content: '';
                position: absolute;
                background-color: #fff;
                width: 5px;
                height: 72px;
                bottom: 34px;
                right: -4px;
                z-index: 0;
            }
            .RoadmapTextContainer{
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                align-self: center;
                padding-bottom: 17px;
                p:last-child{
                    font-size: adaptiv-get(16, 8);
                    line-height: adaptiv-get(24, 10);
                    color: rgba(0, 0, 0, 0.25);
                    max-width: 250px;
                }
                
            }
            .RoadmapImgContainer{
                grid-area: auto;
                background: url('../../img/prizes.png') no-repeat;
                margin-left: 2%;
                margin-top: 0.55%;
                background-size: contain;
            }
            .RoadmapNumb{
                color: rgba(240, 90, 41, 0.25);
                right: 3px;
                bottom: 63px;
                span{
                    right: -18px;
                    bottom: -8px;
                    border-color: #F05A29;
                    background: rgba(240, 90, 41, 0.5);
                    &::after{
                        left: -134px;
                        top: 7px;
                        width: 112px;
                        border-bottom: 2px dashed #F05A29;
                    }
                    &::before{
                        top: 0px;
                        left: -153px;
                        border-color: #F05A29;
                    }
                }
            }
        }
        &:nth-child(3){
            border-top: 3px solid #000000;
            margin-right: 3px;
            padding-top: 12px;
            padding-left: 55px;
            &::before{
                content: '';
                position: absolute;
                background-color: #fff;
                width: 87px;
                height: 5px;
                top: -4px;
                left: 54px;
                z-index: 0;
            }
            .RoadmapNumb{
                color: rgba(0, 171, 136, 0.25);
                top: -100px;
                left: -24px;
                z-index: 1;
                width: 182px;
                text-align:right;
                span{
                    left: -16px;
                    top: 84px;
                    border-color: #00AB88;
                    background: rgba(0, 171, 136, 0.5);
                    &::after{
                        left: 7px;
                        top: 36px;
                        height: 99px;
                        border-left: 2px dashed #00AB88;
                    }
                    &::before{
                        left: 1px;
                        top: 139px;
                        border-color: #00AB88;
                    }
                }
            }
            .RoadmapImgContainer{
                margin-top: -75px;
            }
        }
    }
    &Numb{
        font-family: 'Neo Sans Weleda';
        font-style: normal;
        font-weight: bold;
        font-size: adaptiv-get(288, 96);
        line-height: 1em;
        position: absolute;

        span{
            position: absolute;
            width: 15px;
            height: 15px;
            border: 8px solid;
            border-radius: 50%;
            &::after, &::before{
                content: '';
                position: absolute;
            }

            &::before{
                width: 10px;
                height: 10px;
                border-radius: 50%;
                border: 2px solid;
            }
        }
    }
}

@media (max-width:730px){
    .RoadmapBlock:nth-child(1) .RoadmapNumb{
        bottom: 43px;
        span{
            bottom: -61px;
            &::before{
                top: -99px;
                height: 13px;
                width: 13px;
                left: -1px;
            }
            &::after{
                height: 55px;
                top: -77px;
            }
        }
    }
    .RoadmapBlock:nth-child(2) .RoadmapNumb{
        //bottom: 43px;
        span{
            //bottom: -61px;
            &::before{
                //top: -99px;
                 height: 13px;
                 width: 13px;
                 right: 100px;
            }
            &::after{
                 width: 55px;

                // top: -77px;
            }
        }
    } 
    }
@media (max-width:850px){
    .Roadmap{
        h3, p{
            max-width: 250px;
        }
        .RoadmapBlock{
            padding-bottom: 20px;
        }
    }
}
@media (max-width:730px){
    .Roadmap{
        padding: 57px 0 0;
    }
}
@media (max-width:530px){
    .Roadmap{
        h3, p{
            max-width: 200px;
        }
        .RoadmapBlock{
            padding-bottom: 20px;
        }
    }
}
@media (max-width:1200px){
.RoadmapBlock:nth-child(2) {
    min-height: 230px;
    .RoadmapNumb{
padding-right: 20px;
    }
}
.RoadmapBlock:nth-child(3){
    .RoadmapNumb{
        padding-top: 30px;
        padding-left: 34px;
        text-align: left;
    }
}
}
@media (max-width:1000px){
    .RoadmapBlock:nth-child(2) {
        position: relative;
        .RoadmapTextContainer{
            z-index: 1;
        }
        .RoadmapImgContainer{
            position: absolute;
            width: 500px;
            height: 210px;
            left: -150px;
            top: 0px;
        }
    }
    .RoadmapBlock:nth-child(3){
        .RoadmapNumb{
        padding-top: 50px;
        padding-left: 54px;

        }
        .RoadmapImgContainer img{
            width: 350px
        }
    } 
    }
