@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro'), local('GothamPro'),
		url('./GothamPro-Black.eot') format('embedded-opentype'),
		url('./GothamPro-Black.woff') format('woff'),
		url('./GothamPro-Black.woff2') format('woff2'),
		url('./GothamPro-Black.ttf') format('truetype'),
		url('./GothamPro-Black.svg') format('svg');
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro'), local('GothamPro'),
		url('./GothamPro-Italic.eot') format('embedded-opentype'),
		url('./GothamPro-Italic.woff') format('woff'),
		url('./GothamPro-Italic.woff2') format('woff2'),
		url('./GothamPro-Italic.ttf') format('truetype'),
		url('./GothamPro-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro'), local('GothamPro'),
		url('./GothamPro-Bold.eot') format('embedded-opentype'),
		url('./GothamPro-Bold.woff') format('woff'),
		url('./GothamPro-Bold.woff2') format('woff2'),
		url('./GothamPro-Bold.ttf') format('truetype'),
		url('./GothamPro-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro'), local('GothamPro'),
		url('./GothamPro-Medium.eot') format('embedded-opentype'),
		url('./GothamPro-Medium.woff') format('woff'),
		url('./GothamPro-Medium.woff2') format('woff2'),
		url('./GothamPro-Medium.ttf') format('truetype'),
		url('./GothamPro-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	src: local('Gotham Pro'), local('GothamPro'),
		url('./GothamPro-Regular.eot') format('embedded-opentype'),
		url('./GothamPro-Regular.woff') format('woff'),
		url('./GothamPro-Regular.woff2') format('woff2'),
		url('./GothamPro-Regular.ttf') format('truetype'),
		url('./GothamPro-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}