@import '../../../mixins.scss';

.LoginModal{
    .LoginModalEmail{
        margin: 35px 0 15px;
    }
    .regFormTitle{
        margin-bottom: 58px;
    }
    .modalContainer{
        align-self: flex-end;
    }

    .sbrosWrapper{
        position: relative;
        width: 100%;
        .modalContainer{
            padding: 0;
        }
        .modalBtn {
            position: absolute;
            top: -55px;
            right: 0;
            width: 130px;
            text-align:right;
        }
    }
.regForm{
    a{
    text-decoration: none;

    }
}
    
    
}
.LoginModalReset{
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: normal;
    @include adaptiv-font(18, 22);
    //font-size: 18px;
    //line-height: 22px;
    text-align: center;
    
    color: #fff;
    .MuiTextField-root {
        margin: 35px 0 15px;
    }
    .modalContainer{
        width: 100%;
        button{
            width: 100%;
        }
    }
}