@import "../../../mixins.scss";

div .table {
  margin: auto;
  box-shadow: none;
  background-color: transparent;
  //max-width: 996px;
  border-radius: 8px;
  overflow: hidden;
  background: transparent;

  .tableHeader th {
    font-family: Neo Sans Weleda;
    font-style: normal;
    font-weight: 500;
    font-size: adaptiv-get(24, 10);
    line-height: 150%;
    border: none;
    background: #008f3f;

    text-align: center;

    color: #ffffff;
  }
  .tableCell {
  }
  tr,
  .tablePagination,
  .tableHeader th {
  }
  tr,
  .tableHeader th {
  }
  tbody {
    background: rgba(0, 143, 63, 0.25);
    tr {
      height: 70px;
      border-bottom: 30px solid #fff;
      &:last-child {
        border: none;
      }
      td {
        font-family: "Neo Sans Weleda";
        font-style: normal;
        font-weight: normal;
        font-size: adaptiv-get(24, 10);
        line-height: 150%;
        border: none;
        text-align: center;

        color: #000000;
      }
    }
  }

  tr:nth-child(2n + 1) {
    // background-color: #fff;
    td:first-child {
      // border-radius: 7px 0 0 7px;
    }
    td:last-child {
      // border-radius: 0 7px 7px 0;
    }
  }
}

@media (max-width: 960px) {
  .table .MuiTableCell-root {
    padding: 12px;
  }
}
@media (max-width: 730px) {
  .table .MuiTableCell-root {
    padding: 8px;
  }
  .tabpage {
    header {
      padding: 0;
      .MuiTabs-root {
        min-height: 40px;
        .MuiTab-root {
          min-height: 40px;
        }
        width: 100%;
        button {
          background: #008f3f;
          border-radius: 5px 5px 0px 0px;
          margin: 0 !important;
          &.Mui-selected {
          }
          span {
            align-items: center !important;
            color: #ffffff;
            text-align: center;
          }
          &:first-child {
            width: 65%;
          }
          &:last-child {
            width: 35%;
          }
        }
      }
    }
    .table {
      border-radius: 0px 0px 5px 5px;
      tr {
        height: 30px;
      }
    }
    .MuiBox-root.MuiBox-root-13 {
      padding-top: 0;
    }
    .MuiBox-root {
      padding-top: 0;
    }
  }
}
