@import '../../../mixins.scss';

.CheckRequirementsModal{
    max-width: 793px;
}
.modal .modalWindow{
    
    .CheckRequirementsModalContainer{
        margin-top: 35px;
    }
    .CheckRequirementsModalText{
        max-width: 335px;
        color: #Fff;
        font-family: 'Gotham Pro';
        font-style: normal;
        font-weight: normal;
        @include adaptiv-font(24, 23);
        //font-size: 24px;
        //line-height: 23px;
        color: #FFFFFF;
        margin-left: 10px;
        h4{
        font-weight: normal;
        margin: 50px 0 20px;
        }
        ul{
            list-style-image: url('../../../img/Ellipse.svg');
            @include adaptiv-font(18, 21);
            //font-size: 18px;
            //line-height: 21px;
            padding-left: 16px;
            li{
                margin-bottom: 9px;
            }
        }
        p{
            @include adaptiv-font(14, 18);
            //font-size: 14px;
            //line-height: 18px;
            margin-top: 50px;
            margin-left: -16px;
        }
    }
}