.cabinet{
    max-width: 1414px;

    &SelectPriz{
    font-weight: bold;
    color: #000000;
    span{
        font-weight: 500;
    }
    &Container{
        margin-bottom: 62px;
    }
}
}
.pageBG{
    background-image: url('../../../../img/pattern.svg');
    padding: 0 16px;
    height: 100%;
    
    .pageWrapper{
        max-width: 1414px;
        background: #fff;
        .pageContainer{
            //max-width: 1126px;
        }
    }
}

@media (max-width:600px){
    .cabinetSelectPrizContainer{
        flex-direction: column;
        .cabinetSelectPriz{
            font-size: 16px;
            margin-bottom: 22px;
        }

    }
}
