.prizi{
    &Container{
        margin-bottom: -56px;
        margin-top: 77px;
    }
    &Modal{
        padding: 58px 143px 0 143px;
    }
    &Item{
        &Container{
            min-height: 632px;
            padding-bottom: 154px;
            padding-top: 8px;
            box-sizing: content-box !important;
            //height: 100%;
            text-align: center;
            
        }
        
        &Wrap{
            width: 268px;
            
        }
        &Cost{
            font-weight: bold;
            line-height: 30px;
            text-transform: uppercase;
            color: #008F3F;
            margin-bottom: 41px;
            &Disabled{
                color: #F05A29;
            }
        }
        &Title{
            line-height: 30px;
            margin: 32px 0 13px;
        }
        &Subtitle{
            font-size: 16px;
            line-height: 20px;
        }
    }
    
}
.prizItemImg{
    height: 268px;
}

.priziItemGrid:nth-child(3n+1)  .priziItemWrap{

    align-self: flex-start;
}
.priziItemGrid:nth-child(3n+3)  .priziItemWrap{
    align-self: flex-end;
}
    .priziItemGrid:nth-child(1) .prizItemImg{
        img{
            margin-top: -7px;
            margin-left: -11px;
        }
    }
    .priziItemGrid:nth-child(3) .prizItemImg img{
        margin-top: -24px;
        margin-left: -11px;
    }.priziItemGrid:nth-child(4) .prizItemImg img{
            margin-left: 2px;
    }.priziItemGrid:nth-child(5) .prizItemImg img{
            margin-left: 1px;
    }.priziItemGrid:nth-child(6) .prizItemImg img{
            margin-top: -15px;
            margin-left: -7px;
    }.priziItemGrid:nth-child(7) .prizItemImg img{
            margin-top: -40px;
            margin-left: -2px;
    }.priziItemGrid:nth-child(8) .prizItemImg img{
            margin-top: -34px;
            margin-left: -12px;
    }.priziItemGrid:nth-child(9) .prizItemImg img{
            margin-top: -36px;
            margin-left: -7px;
    }


@media (max-width:1280px){
.priziContainer{
        margin-bottom: 0;
    }

    .priziItemGrid  .priziItemWrap{
            align-self: center;

        }
        .priziItemContainer {
            min-height: 550px;
            padding-bottom: 50px;
        }
        .priziModal{
            padding-left: 50px;
            padding-right: 50px;
            .priziItemGrid{
                .priziItemWrap{
                    align-self: center;
                }
            }  
        }
}
@media (max-width:730px){
    .priziModal{
        padding-left: 0;
        padding-right: 0;
        padding-top: 27px;
        //margin-top: 0;
        min-height: 100%;
        justify-content: center;

        .priziItemGrid .prizItemImg img{
            margin: 0;
        }
        .slick-slider{
            border: none;
            width: 100%;
            padding-top: 28px;
            margin-top: 0;
            padding-bottom: 47px;
            .slick-slide{
                &:nth-child(2) .prizItemImg img{
                    width: 206px;
                    margin-left: -5px;
                    margin-top: -4px;
                }
                &:nth-child(4) .prizItemImg img{
                    width: 209px;
                    margin-left: -7px;
                    margin-top: -16px;
                }
                &:nth-child(7) .prizItemImg img{
                    margin-left: -3px;
                    margin-top: -9px;
                }
                &:nth-child(8) .prizItemImg img{
                    margin-left: -5px;
                    width: 186px;
                    margin-top: -25px;
                }
                &:nth-child(9) .prizItemImg img{
                    margin-left: -8px;
                    width: 196px;
                    margin-top: -21px;
                }
                &:nth-child(10) .prizItemImg img{
                    margin-left: -6px;
                    width: 194px;
                    margin-top: -21px;
                }
            }
            .slick-current{
                overflow: visible;
            }
            .slick-next{
                background-image: url('../../../img/arrowMobile.svg');
                background-position: 19px 53%;
            }
            .slick-prev{
                background-image: url('../../../img/arrowMobile.svg');
                background-position: 17px 47%;
            }
            .priziItemContainer {
                min-height: 396px;
                padding: 0;
            }
            .priziItemGrid {
                max-width:100%;
                flex-basis: 100%;
                margin-top: 18px;
               
            }
            .priziItemWrap {
                &:last-child{
                    margin-top: 3px;
                }
                width: 183px;
                //margin: auto;
                .prizItemImg{
                    height: 182px;
                    img{
                        width: 182px;
                    }
                }
                .priziItemTitle{
                    padding-top: 45px;
                    line-height: 21px;
                    font-size: 16px;
                }
                .priziItemSubtitle{
                    padding-top: 6px;
                    font-size: 12px;
                }
                .priziItemCost{
                    font-size: 16px;
                    line-height: 20px;
                    padding-bottom: 28px;
                }
                }
                
            }
            .priziItemGrid:nth-child(1) .priziItemWrap{
                img{
                    //margin-top: -34px;
                    //margin-left: -12px;
                
                }}
            }
            .priziModalWrap{
                padding:0;
            }
        
        }
