header.header{
    width: 100%;
    padding: 0 20px;
    height: 60px;
    background-color: #FFF;
    box-shadow: none;
    //left: 0;
    //justify-content: space-between;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
//     font-family: Neo Sans Weleda;
// font-style: normal;
// font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    &.bg-black{
    background-color: #10417B;
    }
    .headerContainer{
        max-width: 1414px;
        margin: auto;
        //flex-wrap: nowrap
    }
    

    // img{
    //     margin-top: 20px;
    //     width: 141.5px;
    //     height: 57.5px;
    //     border-radius: 2px;
    // }
}
// .PrivateSwipeArea-root-3.PrivateSwipeArea-anchorRight-5{
//     display: none;
// }

// @media (max-width: 1850px) {
//     header.header div{
//         max-width: 1180px;
//     }
// }
// @media(max-width: 1720px){
//     .PrivateSwipeArea-root-3.PrivateSwipeArea-anchorRight-5{
//         display: block;
//     }
//     header.header div{
//         max-width: 60%;
//         justify-content: space-between;
//         img{
//             margin-top: 12px;
//             width: 84px;
//             height: 34px;
//         }
//     nav {
//         display: none;
//     }
//     .headerMenu{
//         display: block;
//         svg{
//             width: 40px;
//             height: 40px;
//             color: #fff;
//         }
//     }
// }
// }
// @media(max-width: 1130px){
//     header.header{
//         max-width: 100%;
//     }
// }