.MuiPaper-root.MuiDrawer-paper.MuiDrawer-paperAnchorRight.MuiPaper-elevation16{
    left:0;
}
div.MuiDrawer-root.MuiDrawer-modal{
   /// z-index: 1000 !important;
}
button.headerMenu{
    display: none;
}
header.header button.headerMenu{
    background: transparent;
    padding: 0;
    &:hover{
        background: transparent;
    }

}

.sliderList{
    background-color: #10417B;
    height: 100%;
    .User{
        flex-direction: column;
        text-align: center;
        width: 290px;
        .modalContainer{
            margin-top: 15px;
        }
    } 
    li.UserGuest{
        height: auto;
        button{
            width: 100%;
            margin: 0;
        }
    }
    a{
        width: 290px;
            margin: 0;
            
            
    }
    .UserName{
        margin: 15px 0 0;
        text-align: center;
        color: #fff;
    }
    ul{
        padding: 0;
        flex-direction: column;
        width: 100%;
        height: 100%;
        li{
            margin: 10px;
            &:nth-child(3){
                justify-self: flex-end;
            }
            &:last-child{
                margin-bottom: 60px;
            }
            &.headerListEnter, &.headerListReg{
                width: 290px;
                text-align: center;
            }
        }
    }
    .headerListGap{
        flex-grow: 10000;
    }
    nav{
        height: calc(100% - 76px);
    }
    .sliderListHeader{
        padding: 12px 15px 30px;
        img{
            width: 84px;
            height: 34px;
            left: 15px;
            top: 12px;
            border-radius: 2px;
        }
        .sliderListClose{
            color: #fff;
            width: 31px;
            height: 31px;
        }
    }
    
}