@import '../../../mixins.scss';

.tabpage{
    margin-top: 40px;

    .MuiBox-root{
        padding: 45px 0 25px;
    }
}
header.TabBar{
    .MuiTabs-indicator{
        background-color: transparent;
    }
    background-color: transparent;
    box-shadow: none;
    display:flex;
    align-items: center;
button{
    font-family: "Neo Sans Weleda";
    font-style: normal;
    font-weight: bold;
    font-size: adaptiv-get(24, 16);
    line-height: 150%;
    color: #000000;
    opacity: 0.25;
    text-transform: none;
    text-align: start;
    padding: 8px 7px;
    max-width: none;
    span{
align-items: flex-start;
}
    &:first-child{
        margin-left: 60px;
        span{
            align-items: flex-end;
            }
    }
    //word-wrap: break-word;
    // font-family: 'Montserrat';
    // font-style: normal;
    // font-weight: 900;
    // //font-size: 32px;
    // @include adaptiv-font(32, 39);
    // //line-height: 39px;
    // letter-spacing: 3px;
    // text-transform: uppercase;
    // color: #10417B;
    // opacity: 0.2;
    // padding: 0 90px;
}
}
